<% include ../partials/header%>
<div id="container">
    <h1 style="text-align: center">Enter a comment for <%= campground.name%></h1>
    <div id="new-camp">
        <form action="/campgrounds/<%= campground.id%>/comments" method="post" >
            <!--<div class="form-group">-->
                <!--<label for="name">Comment</label>-->
                <!--<input class="form-control" type="text" id="text" name="text" placeholder="text">-->
            <!--</div>-->
            <div class="form-group">
                <label for="description">Comment</label>
                <textarea id="text" name="comment[text]" class="form-control"></textarea>
            </div>
            <!--<div class="form-group">
                <label for="image">Name</label>
                <input class="form-control" type="text" id="author" name="comment[author]" placeholder="author">
            </div>-->

            <div class="form-group">
                <button class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/campgrounds"><button class="btn btn-danger btn-block">Cancel</button></a>
    </div>
</div>

<% include ../partials/footer%>